*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: black;
}

#quote-box{
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: auto;
    border: 2px solid;
    margin:11rem auto;
    border-radius: 5px;
    font-size: 30px;
    background-color: white;
    transition: all .7s ease-in-out;
}

button{
    padding: 6px 22px;
    font-size: 16px;
    border: 2px solid;
    cursor: pointer;
    margin: 1rem;
    border-radius: 5px;
    color: white;
    background-color: black;
}

#author{
    margin-left: 27rem;
    margin-top: 1rem;
    font-size: 24px;
}

#quote-left{
    margin-right: 3px;
    margin-bottom: 5px;
}

#twitterIcon{
    color: white;
}

/* Responsiveness Media query */

@media  screen  and ( max-width: 750px) {
       #quote-box{
           width: 590px;
       }
    
}


@media  screen  and ( max-width: 630px) {
    #quote-box{
        width:   410px;
        font-size: 20px;
    }
    
    #author{
        font-size: 17px;
        font-weight: 600;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 10rem;
    }
    
}

@media  screen  and ( max-width: 430px) {
    #quote-box{
        color: hotpink;
        width: 345px;
        text-align: justify;
        border: 2px solid ;
       }

       #author{
           margin-left: 6rem;;
        }
        
        button{
            margin: 3px;
        }
        
}
@media  screen  and ( max-width: 394px) {
        #quote-box{
            width: 280px;
            font-size: 17px;
            font-weight: 600;
        }
        
        #author{
            margin-left: 3rem;
        }
        #new-quote{
            margin-top: 13px;
        }
}